<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="GCS" connectionString="server=localhost; user id=root; password=mysql@dmin; database=gama;"/>
  </connectionStrings>
  <appSettings>

    <add key="inviteBCC" value="gareth.miller@webmail.org.za"/>
    
    <add key="pop" value="pop.webafrica.org.za"/>
    <add key="port" value="110"/>
    <add key="popUser" value="gareth.miller@webafrica.org.za"/>
    <add key="popPassword" value="p@ssword"/> 
    
    <add key="statusUnregistered" value="1"/>
    <add key="statusRegistered" value="2"/> 
    <add key="statusAtAgent" value="3"/>
    <add key="statusBooked" value="4"/>
    
    <add key="quoteSent" value="5"/>
    <add key="responseReceived" value="6"/>
    <add key="Confirmed" value="7"/>
    <add key="Cancelled" value="8"/>
    <add key="Ticketissued" value="9"/>
      
    <add key="superRegUserType" value="5"/>
    <add key="gamaUploads" value="c:\\gamaUploads\\"/>
    <add key="mailFrom" value="gareth@garmill.co.za"/>
    <add key="SMTP" value="192.168.1.151"/>
    <add key="siteRegistrationURL" value="http://localhost:5856/Registration/Register.aspx?evt="/>
    <add key="siteURL" value="http://localhost:5856/"/>
    <add key="adtHome" value="1"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off">
            
        </customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Security/Login.aspx" timeout="20"/>
    </authentication>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
</configuration>