<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
    <add name="GCS" connectionString="server=localhost; user id=root; password=Ambr051@12; database=gama;" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="superRegUserType" value="5"/>
    <add key="statusRegistered" value="2"/>
    <add key="gamaUploads" value="c:\\gamaUploads\\"/>
    <add key="mailFrom" value=""/>
    <add key="SMTP" value=""/>
    <add key="siteRegistrationURL" value="http://localhost:5856/Registration/Register.aspx?evt="></add>
    <add key="adtHome" value="1"/>
  </appSettings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Security/Login.aspx" timeout="2880" />
    </authentication>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
</configuration>